<div class="add-user">
    <div class="add-user-title">{{selectedUser && selectedUser.Id > 0 ? 'Edit user' : 'Add user'}}</div>
    <div class="form-group margin-top-5">
        <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="selectedUser.Name">
        <input type="email" class="form-control margin-top-5" name="email" placeholder="Email"
            [(ngModel)]="selectedUser.Email">
        <div title="User Role" class="margin-top-5">
            <label class="radio" *ngFor="let userRole of userRoles"
                [ngClass]="{'margin-left-4': userRole.RoleType != 1}"><span class="medium-font">{{userRole.Role}}</span>
                <input type="radio" name="role" [value]="userRole.RoleType" [(ngModel)]="selectedUser.RoleType">
                <span class="checkround"></span>
            </label>
        </div>
        <div title="User Status" class="margin-top-5">
            <label class="radio" *ngFor="let userStatus of userStatus"
                [ngClass]="{'margin-left-4': userStatus.Status != 'Active'}"><span
                    class="medium-font">{{userStatus.Status}}</span>
                <input type="radio" name="status" [value]="userStatus.Status" [(ngModel)]="selectedUser.Status">
                <span class="checkround"></span>
            </label>
        </div>
        <input type="number" class="form-control margin-top-5" name="number" placeholder="Mobile Number (Optional)"
            [(ngModel)]="selectedUser.MobileNumber">
    </div>
    <div class="form-group">
        <button type="submit" (click)="saveUser()"
            class="btn btn-success btn-lg btn-block">{{selectedUser && selectedUser.Id > 0 ? 'SAVE USER' : 'ADD USER'}}</button>
    </div>
</div>