<div class="padding-top-15">
    <img src="../../assets/icons/Logo.svg" class="mr-2 logo">
    <button (click)="selectedTab = 1;" class="menu-button"><img src="../../assets/icons/ico_dashboard.svg" class="mr-2 width-20px"><span [ngStyle]="{'color': selectedTab == 1 ? 'orange' : 'white'}">Dashboard</span></button>
    <button (click)="selectedTab = 2;" class="menu-button"><img src="../../assets/icons/ico_users.svg" class="mr-2 width-20px"><span [ngStyle]="{'color': selectedTab == 2 ? 'orange' : 'white'}">Users</span></button>
    <button (click)="selectedTab = 3;" class="menu-button"><img src="../../assets/icons/ico_sessionmanager.svg" class="mr-2 width-20px"><span [ngStyle]="{'color': selectedTab == 3 ? 'orange' : 'white'}">Session Manager</span></button>
    <div class="user-name-section">
        <img src="../../assets/icons/ico_notification.svg" class="mr-2 notification">
        <img src="../../assets/icons/ico_user.svg" class="mr-2 user"><span class="color-white">John Smith</span>
        <img src="../../assets/icons/ico_downarrow.svg" class="down-arrow">
    </div>
</div>
<app-dashboard *ngIf="selectedTab == 1"></app-dashboard>
<app-user-list *ngIf="selectedTab == 2"></app-user-list>
<app-session-manager *ngIf="selectedTab == 3"></app-session-manager>

